.booking-modal-container {
    .booking-modal-content {
        display: flex;
        flex-direction: column;

        .booking-modal-header {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left {
                font-size: 16px;
                font-weight: 600;
                color: #333;
            }
            .right {
                cursor: pointer;
            }
        }
        .booking-modal-body {
            height: 100%;
            padding: 10px;
        }
        .booking-modal-footer {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;
            border-top: 1px solid #ccc;
        }
    }
}
