.preview-img-container {
    .label-upload {
        padding: 5px;
        border-radius: 3px;
        background-color: #ddd;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .preview-image {
        height: 50px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        // cursor: pointer;
    }
}
