.manage-doctor-container {
    padding: 20px;
    .manage-doctor-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .save-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color: orange;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .create-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color: rgb(11, 93, 216);
        color: white;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }
}
