.doctor-detail-container {
    .doctor-detail-wrapper {
        width: 100%;
        padding: 0 calc((100% - 1440px) / 2);
    }

    .striped-border-top {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: #f9f9f9;
    }

    .intro-doctor {
        display: flex;
        .content-left {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
            margin-left: 0;
        }
        .content-right {
            width: calc(100% - 120px);
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .up {
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }
            .down {
                padding-top: 10px;
                white-space: pre-wrap;
                word-wrap: break-word;
                color: rgb(85, 85, 85);
            }
        }
    }

    .schedule-doctor {
        display: flex;
        padding: 10px 0;
        min-height: 200px;

        .content-left {
            width: 50%;
        }

        .content-right {
            width: 50%;
        }
    }

    .detail-info-doctor {
        background-color: #f9f9f9;
        padding: 10px 0;
        h3 {
            font-size: 17px;
        }

        img {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    .comment-doctor {
        height: 50px;
    }
}
