.profile-doctor-container {
    .intro-doctor {
        display: flex;
        .content-left {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 10px 20px;
        }
        .content-right {
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-top: 10px;
            .up {
                font-weight: 600;
                font-size: 16px;
            }
            .down {
                white-space: pre-wrap;
                word-wrap: break-word;
                color: rgb(85, 85, 85);
            }
        }
    }
}
