.login-background {
    background-image: url("../../assets/login_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    .login-container {
        width: 400px;
        height: fit-content;
        margin: auto;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        .login-content {
            padding: 10px;

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-bottom: 10px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius: 15px;
                outline: none;
                border: none;
                background-color: #4880ff;
                color: white;
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                justify-content: center;
                text-align: center;
                margin-top: 10px;

                .google {
                    font-size: 30px;
                    background: #c32a36;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 10px;
                }

                .facebook {
                    font-size: 30px;
                    background: #3b5998;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                }
            }
        }
    }
}
