.verify-email-container {
    .info-booking {
        font-size: 18px;
        font-weight: 600;
        margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #49bce2;
    }
}
