.slick-prev {
    // position: relative !important;
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
}

.slick-next {
    right: -10px !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
}

.slick-prev,
.slick-next {
    &:hover {
        background: #eceaea !important;
    }

    &:before {
        font-family: FontAwesome !important;
        color: gray !important;
    }
}

.slick-disabled {
    display: none !important;
}

.section-share {
    &.section-specialty {
        background: #f5f5f5;
    }
    &.section-outstanding-doctor {
        background: #f5f5f5;

        .outer-bg {
            display: flex;
            justify-content: center;
        }

        .section-customize {
            padding: 5px;
            cursor: pointer;
            .customize-border {
                border: 1px solid #d7d7d7;
                padding: 20px;
            }
        }
    }
    &.section-about {
        height: 500px !important;
        padding: 0 100px;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        .section-about-header {
            padding: 20px 0;
            font-size: 22px;
            font-weight: 600;
        }
        .section-about-content {
            display: flex;
            gap: 15px;
            width: 100%;
            .content-left {
                width: 40%;
            }
            .content-right {
                width: 60%;
                padding-top: 15px;
                p {
                    text-align: justify;
                    font-style: italic;
                }
            }
        }
    }

    .section-body {
        .section-customize {
            .bg-image {
                width: 278px;
                height: 150px;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: #eee;
                padding-bottom: 10px;

                &.section-outstanding-doctor {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.section-share {
    height: 330px;

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.home-footer {
    text-align: center;
    padding-top: 8px;
    a {
        text-decoration: none;
    }
}
